@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background:#171717;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilo para el scrollbar en navegadores webkit (Chrome, Safari, etc.) */
/* Cambia el color del scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Ancho del scrollbar */
}

/* Cambia el color del fondo del scrollbar */
::-webkit-scrollbar-track {
  background: #1a1a1a; /* Color del fondo */
}

/* Cambia el color del thumb (la parte deslizable del scrollbar) */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 5px;

}

/* Cambia el color del thumb cuando se desplaza */
::-webkit-scrollbar-thumb:hover {
  background: #cccccc; /* Color del thumb al pasar el mouse */
}
